### list

In [1]:
list1 = ['ritik',12,'tanuj']# mutable data type
list1[1]#indexing

12

In [5]:
'''list functions'''
list1[1:3]


list1[::-1]#reverse list

['tanuj', 12, 'ritik']

In [6]:
list1.append('siddharth')#adding new value

In [7]:
list1

['ritik', 12, 'tanuj', 'siddharth']

In [9]:
list1.copy()

['ritik', 12, 'tanuj', 'siddharth']

In [17]:
list1.index('ritik')

0

In [23]:
for i in list1:
    print(i, list1.index(i))

ritik 0
12 1
tanuj 2
siddharth 3

In [24]:
list1.count(12)#counting list elements

1

In [25]:
list1.remove('ritik')#deleting the elements

In [26]:
list1

[12, 'tanuj', 'siddharth']

In [27]:
list2 = ['jamal','nitesh','deepak']

In [28]:
list1.extend(list2)#adding another list in first list

In [29]:
list1

[12, 'tanuj', 'siddharth', 'jamal', 'nitesh', 'deepak']

In [30]:
list1.clear()#clear the list deleting all elements from the list

In [31]:
list1

[]

In [32]:
list1 = [12, 'tanuj', 'siddharth', 'jamal', 'nitesh', 'deepak']

In [34]:
list1.reverse()

In [35]:
list1

['deepak', 'nitesh', 'jamal', 'siddharth', 'tanuj', 12]

In [37]:
list1.sort

In [38]:
list1

['deepak', 'jamal', 'nitesh', 'siddharth', 'tanuj', 12]

In [39]:
list1.pop()#randomly deleting items from list

12

In [40]:
list1

['deepak', 'jamal', 'nitesh', 'siddharth', 'tanuj']

In [43]:
list0 = [1,2,3]

In [44]:
list1.__add__(list0)#adding another list but not permanent on list1

['deepak', 'jamal', 'nitesh', 'siddharth', 'tanuj', 1, 2, 3]