#pickle and json
pickle json se bahtar hai dono mai data store kar sakte hai lekin certain format mai
we can not store directly data in json we need to convert it into dictionary
- pickle is quick to save and read but not secure if we download from unknownn source than virus may come
- In case of json we need to read it in dictionary format and also save in dictionary foramt

In [2]:
import numpy as np

ModuleNotFoundError: No module named 'numpy'

In [1]:
nn = np.array([[1,2,3],[1,2,3]])

NameError: name 'np' is not defined

In [4]:
nn.shape

(2, 3)

In [32]:
# Python program to read
# json file

import json

# Opening JSON file
f = open('jpg2.jpg.json')

# returns JSON object as 
# a dictionary
data = json.load(f)

# Iterating through the json
# list
for i in data['title']:
	print(i,end='')

# Closing file
f.close()

IMG20230618084716.jpg

In [14]:
#json file save
import json
class Animal:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def increageage(self):
        self.age += 1

Raju = Animal('RajuH',6)
Raju.increageage()

In [15]:
print(Raju.age)

7

In [7]:
#SAVING JSON FILE
with open('file.json','w') as op:
    fi = {
        'name': Raju.name,
        'age': Raju.age
    }
    json.dump(fi,op)

In [12]:
# OPENING JSON FILE TO VIEW
with open('file.json','r') as op:
    fil = json.load(op)
    Raj = Animal(fil['name'],fil['age'])

In [13]:
print(Raj.age)

7

In [22]:
# PICKLE MODE OPEN TO SAVE THE FILE
import pickle
with open ('file.pickle','wb') as op:
    pickle.dump(Raju.age,op)

In [23]:
# open pickle file
with open('file.pickle','rb') as op:
    fikk  = pickle.load(op)

In [24]:
print(fikk)

7

In [34]:
with open ('dog.json','a') as op:
    data1 = {
        'ritik':'bhawsar',
        'tanuj':'sonare',
        'siddharth':'agnihotri'
    }
    json.dump(data1,op)

In [41]:
with open('dog.json','r') as op:
    file_read = op.read()
print(file_read)

{"ritik": "bhawsar", "tanuj": "sonare", "siddharth": "agnihotri"}

In [54]:
with open('filename.j','w') as op:
    op.write('this is json file')

In [55]:
with open('filename.jso','r') as op:
    filee = op.read()

FileNotFoundError: [Errno 2] No such file or directory: 'filename.jso'

In [53]:
filee

'this is json file'

In [70]:
l = [1,2,3,4,1,1,2,6,7]
ll = []
for i in l:
    for j in l:
        print(i,end=' ')

1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3 3 4 4 4 4 4 4 4 4 4 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 6 6 6 6 6 6 6 6 6 7 7 7 7 7 7 7 7 7

In [102]:
for i in range(2):
    print(i)
    for j in range(10,13):
        print(j)

0
10
11
12
1
10
11
12

In [80]:
l = ['ritik','tanuj','siddharth','prateek']

In [83]:
for i in l:
    print(i)
    for j in l:
        print(i)

ritik
ritik
ritik
ritik
ritik
tanuj
tanuj
tanuj
tanuj
tanuj
siddharth
siddharth
siddharth
siddharth
siddharth
prateek
prateek
prateek
prateek
prateek

In [87]:
x = [1, 2]
y = [4, 5]

for i in x:
    for j in y:
        print(i, j)

1 4
1 5
2 4
2 5

In [89]:
for ii in range(1,11):
    print(ii)

1
2
3
4
5
6
7
8
9
10

In [100]:
for x in range(2,4):
    for y in range(1,11):
        print(x*y)

2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30

In [3]:
l = [1,2,3]

In [7]:
for i in l:
    for j in l:
        print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [2]:
print(reversed(list(range(1,11))))

<list_reverseiterator object at 0x000001F0E91EAB80>

In [3]:
list(range(10,1-10))

[]

In [12]:
l=[1,2]
k = l.remove(0)

ValueError: list.remove(x): x not in list

In [13]:
k

In [14]:
4|3

7

In [15]:
4&3

0

In [20]:
li = ['ritik','tanu']
li[1] = 'sid'

In [21]:
li = ['ritik','tanu']
li[1] == 'sid'

False

In [22]:
y  = 'sutt,thing;'
z = y.split(';')

In [24]:
len(z)

2

In [27]:
import numpy as np

In [29]:
a = np.array([1,2,3,4])
print(a[False,True])

[]

In [30]:
import math
print(math.pow(2,10))

1024.0

In [31]:
2**10

1024

In [32]:
2^10

8

In [33]:
n = 5
[x*2 for x in range(1,n)]

[2, 4, 6, 8]

In [34]:
{x:x*x for x in range(1,100)}

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400,
 21: 441,
 22: 484,
 23: 529,
 24: 576,
 25: 625,
 26: 676,
 27: 729,
 28: 784,
 29: 841,
 30: 900,
 31: 961,
 32: 1024,
 33: 1089,
 34: 1156,
 35: 1225,
 36: 1296,
 37: 1369,
 38: 1444,
 39: 1521,
 40: 1600,
 41: 1681,
 42: 1764,
 43: 1849,
 44: 1936,
 45: 2025,
 46: 2116,
 47: 2209,
 48: 2304,
 49: 2401,
 50: 2500,
 51: 2601,
 52: 2704,
 53: 2809,
 54: 2916,
 55: 3025,
 56: 3136,
 57: 3249,
 58: 3364,
 59: 3481,
 60: 3600,
 61: 3721,
 62: 3844,
 63: 3969,
 64: 4096,
 65: 4225,
 66: 4356,
 67: 4489,
 68: 4624,
 69: 4761,
 70: 4900,
 71: 5041,
 72: 5184,
 73: 5329,
 74: 5476,
 75: 5625,
 76: 5776,
 77: 5929,
 78: 6084,
 79: 6241,
 80: 6400,
 81: 6561,
 82: 6724,
 83: 6889,
 84: 7056,
 85: 7225,
 86: 7396,
 87: 7569,
 88: 7744,
 89: 7921,
 90: 8100,
 91: 8281,
 92: 8464,
 93: 8649,
 94: 8836,
 95: 9025,
 96: 9216,
 97: 9409,
 98: 9604,
 99: 9801}

In [35]:
[1,2,3]*2

[1, 2, 3, 1, 2, 3]

In [5]:
for i in ['ritik','tanuj']:
    for j in ['mech','cs']:
        print(j)

mech
cs
mech
cs

In [14]:
for i in range(5,0,-1):
    print(i*'*')

*****
****
***
**
*

In [19]:
for i in range(1,5):
    for j in range(0,i):
        print('*',end=' ')
    print('')

*
* *
* * *
* * * *

In [1]:
def recursion(n):
    if n==0 or n==1:
        print(1)
    else:
        n * recursion(n-1)

In [3]:
recursion(0)

1

In [4]:
def recursion(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * recursion(n - 1)

In [5]:
recursion(4)

24

In [7]:
l = [
    {'january':2002,
    'febuary':2022,
    'march':2002,
    'april':2222,
    'may':3233}
]

In [12]:
l[0]['january']

2002

In [19]:
l[0]['january']

2002

In [3]:
python --version

NameError: name 'python' is not defined

In [4]:
for i in range(2,10):
    for j in range(1,11):
        print(i*j)

2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50
6
12
18
24
30
36
42
48
54
60
7
14
21
28
35
42
49
56
63
70
8
16
24
32
40
48
56
64
72
80
9
18
27
36
45
54
63
72
81
90